
<style>
	h1{
		font-family: "Lucida Console", "Courier New", monospace;
		font-size: 60px;
		color: #66FCF1;


	}
	h2{
		font-family: "Lucida Console", "Courier New", monospace;
		color: lightgreen;
	}
	h4{
		font-family: "Lucida Console", "Courier New", monospace;
		color: lightgreen;
	}

  body{
  	background-color: #1F2833;
	}

	p{
		font-family: "Lucida Console", "Courier New", monospace;
		color: lightgreen;
	}

  #backgroundBox{
    border: 10px;
    padding: 15px;
    background: #45A29E;
    background-clip: padding-box;
    width: 50%;
  }

</style>
<body>
<br><br><br>
<center>
  <div id="backgroundBox">
    <h5><p style="color:white;">Welcome to RUSE! If you read out the acronym RUSE, you will see it asks "Are you SE?" This website was made to make the lives of Indiana Tech's software engineering majors easier. On this website, you have the abillity to input your schedule and show off your class projects!</p></h5>
  </div>
</center>
<br>
<center>
<img src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
<img style="filter: invert(15%);"src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
<img style="filter: invert(30%);"src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
<img style="filter: invert(45%);"src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
<img style="filter: invert(60%) "src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
<img style="filter: invert(75%);"src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
<img style="filter: invert(87.5%);"src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
<img style="filter: invert(100%);"src="https://academics.indianatech.edu/wp-content/uploads/sites/25/Brian-Lewandowski-073.jpg"></img>
</center>
<br>
<br>
</body>